/* Contenido del body */

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
  margin-bottom: 100px;
}

.nav {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 50px;
  padding: 20px;
}

.nav label.elegir, .nav select.opciones {
  width: 100%;
  margin-bottom: 5px;
  color: #59009A;
  font-size: 18px;
}

select.opciones {
  padding: 4px;
  font-size: 16px;
}

.nave {
  height: 50.45px;
  width: 303px;
  border-radius: 15px;
  margin-bottom: 50px;
  border: none;
  background: linear-gradient(#ffffff,#E2DCE8);
  box-shadow: 1px 10px 20px 0.5px rgb(145, 145, 145);
}

.enviar {
  height: 40px;
  width: 90px;
  background: #59009A;
  color: #ffffff;
  margin-top: 250px;
  border-radius: 50px;
  font-size: 15px;
}

:root {
  --c-theme-primary: #8A66FD;
  --c-theme-primary-accent: #CBE8FF;
  --c-bg-primary: #D6DAE0;
  --c-bg-secondary: #EAEBEC;
  --c-bg-tertiary: #FDFDFD;
  --c-text-primary: #1F1F25;
  --c-text-secondary: #999FA6;
}

.datepicker {
  margin-right: 50px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
  padding: 2rem;
}

.datepicker-top {
  margin-bottom: 2rem;
}

.month-name {
  font-size: 24px;
  font-weight: bold;
}

.datepicker-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: rem;
}

.day, .date {
  justify-self: center;
}

.day {
  font-size: 14px;
  font-weight: bold;
  justify-self: center;
}

.date {
  border: 0;
  padding: 0;
  height: 60px;
  width: 60px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 0.5px solid #D5D4DF;
  background-color: transparent;
  cursor: pointer;
  &:focus {
      outline: 0;
      background: #D5D4DF;
  }
  border-radius: 0%;
}

.date:hover {
  background: #e0e4e9;
}

.faded {
  color: var(--c-text-secondary);
}

.current-day {
  color: #FFF;
  border-color: var(--c-theme-primary);
  background-color: var(--c-theme-primary);
  &:focus {
      background-color: var(--c-theme-primary-accent);
  }
}

.historial {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
}

.realizado {
  width: 312px;
  height: 54;
  margin-top: 50px;
  background: #ffffff;
  border-bottom: #1F1F25;
  border-bottom: solid 1px #D5D4DF;
  font-size: 15px;
}

h2 {
  font-size: 20px;
}
