

.cont {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 150px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar{
  width: 100%;
}
.guia {
  width: 95%;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.instruccines {
  font-family: sans-serif;
  font-size: 20px;
  margin: 30px;
  padding: 20px;
  width: 100%;
}

.title {
  color: #59009A;
}

.volver {
  background-color: #59009A;
  height: 60px;
  border-radius: 10px;
  width: 100px;
  color: #fff;
  margin-bottom: 20px;
}

.volver:hover {
  background-color: #3e006b;
  cursor: pointer;
}

.one {
  margin-top: 20px;
}


ul{
  margin-left: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #59009A;
  font-style: italic;
}



body {
  font-family: sans-serif;
  margin: 0;

  padding: 0;
  background-color: #fffcfc;
  width: 100%;
  left: 0%;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;

}


h1 {
  margin: 0;
  font-size: 1.5rem;
}


/* Card Styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  height: 70%;
  
}
a{
text-decoration: none;
}
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  width: 30%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.refe{
  width: 100%;
  height: 70%;
  max-width: 37.5rem;
}
.card:hover {
  transform: translateY(-0.625rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

h2 {
  color: #333;
  margin-top: 0;
}
p{
  color: #5e5e5e;
  font-weight: 500;
}

ul {
  margin: 0,625rem 0 0 1.25rem;
}
.go{
  margin-top: 1.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boton{
  background-color: #59009A;
  height: 3.75rem;
  border-radius: 0.625rem;
  width: 6.25rem;
  color: #fff;

}
.boton:hover{
  background-color: #3e006b;
  cursor: pointer;
}





h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #59009A;
  font-style: italic;
}



