.body{
    padding: 0;
}

.explore-section {
    text-align: center;
    width: 100%;
    margin: 20px 0;
  }
  
  .explore-title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a nuevas líneas */
  
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #59009A;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #3C006E;
  }


  @media (max-width: 570px) {
    
  
    .search-bar{
      padding: 10px;
      width: 90%;
      
    }
  }
  
  @media (max-width: 300px) {
    
  
    .search-bar{
      padding: 10px;
      width: 80%;
    }
  }

  