/* Estilo para el contenedor principal del carrusel */
.carousel {
    position: relative;
    width: 300px; /* Ajusta al tamaño deseado */
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
}

/* Contenedor de las imágenes en línea */
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Imágenes en el carrusel */
.carousel-slide img {
    width: 100%;
    border-radius: 8px;
}

/* Estilo de los botones de navegación */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(106, 13, 173, 0.8);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev-btn { left: 10px; }
.next-btn { 
    right: 10px;
    border-radius:100% ;
    background-color: blue;
 }

.carousel-btn:hover {
    background-color: rgba(106, 13, 173, 1);
}
