




/*estilos del body */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura */
  background-image: url('/atencion-profesional/USUARIO/Imagenes/archivo.png'); /* Cambia por la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center top; /* Centra la imagen y la desplaza hacia arriba */
  background-attachment: fixed; /* Hace que la imagen sea fija al hacer scroll */
  background-color: rgba(255, 255, 255, 0.8); /* Color de fondo blanco con transparencia */
  background-blend-mode: overlay; /* Mezcla el color con la imagen */
}
  
  main {
    flex: 1;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 80px;
  }
  
  .files-section h2 {
    margin-top: 0;
    margin-left: 15px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .search-bar {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #59009A;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #59009A;
    color: #fff;
    border: 2px solid #59009A;
    border-left: none; /* Eliminar el borde izquierdo del botón */
    border-radius: 0 5px 5px 0; /* Bordes redondeados, solo para la derecha */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }

  .search-button:hover {
    background-color: #7a3ec8;
  }
  
  .file-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }
  
  .file-item:first-of-type {
    border-top: none;
  }
  .imagen{
    width: 70px;
    height: 90px;
  }
  
  .file-icon img {
    
    margin-right: 10px;
  }
  
  .settings-icon  {
    justify-content: flex-end;
    max-width: 100%;
    height: auto;
    margin-left: auto;
  }
  .settings-icon img  {
    justify-content: flex-end;
    width: 40px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: 40px;
  }
  
  

 
