/* Contenido del body */
main{
  margin-top: 10px;
  margin-bottom: 100px;
}
.search-bar {
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.search-bar .search-button,
.search-bar .clear-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar .search-button {
  background-color: #59009A;
  color: white;
}

.search-bar .clear-button {
  background-color: #ccc;
  color: #333;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 20%;
  padding: 20px;
  background-color: #e0e0e0;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.sidebar p {
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
}

.content {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.clickable-row:hover {
  background-color: #f0f0f0;
}
