



/* Contenido del body */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura */
  background-image: url('/atencion-profesional/PROFESIONAL/Imagenes/Entorno-Profesional.jpg'); /* Cambia por la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center top; /* Centra la imagen y la desplaza hacia arriba */
  background-attachment: fixed; /* Hace que la imagen sea fija al hacer scroll */
  background-color: rgba(255, 255, 255, 0.9); /* Color de fondo blanco con transparencia */
  background-blend-mode: overlay; /* Mezcla el color con la imagen */
}

main {
  margin-top: 1.875rem;
  margin-bottom: 100px;
}

.search-bar {
  padding: 0.625rem;
  background-color: #f8f8f8;
  border-bottom: 0.0625rem solid #ccc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 60%;
  padding: 0.625rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #ccc;
  margin-right: 0.625rem;
}

.search-bar .search-button,
.search-bar .clear-button {
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 1.25rem;
  margin-left: 0.625rem;
  cursor: pointer;
}

.search-bar .search-button {
  background-color: #59009A;
  color: white;
}

.search-bar .clear-button {
  background-color: #ccc;
  color: #333;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 20%;
  padding: 1.25rem;
  background-color: #e0e0e0;
  border-right: 0.0625rem solid #ccc;
  display: flex;
  flex-direction: column;
}

.sidebar p {
  margin: 0;
  padding: 0.625rem 0;
  cursor: pointer;
}

.content {
  width: 80%;
  padding: 1.25rem;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  padding: 0.625rem;
  border: 0.0625rem solid #ddd;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.clickable-row:hover {
  background-color: #f0f0f0;
}









