body {
  font-family: 'Roboto', sans-serif;
  font-style: normal; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.body {
  padding: 2rem 1.25rem 1.25rem 1.25rem;
  flex: 1;
}

/* Contenido del body*/

body {
  font-family: Arial, sans-serif;
}

.body{
  padding: 50px;
}

.carousel {
  width: 100%;
  max-height: 420px; /* Controla la altura máxima del carrusel */
  overflow: hidden; /* Asegura que el contenido fuera del carrusel no sea visible */
}

.carousel-inner {
  width: 100%;
  height: 100%; /* Usa la altura completa del contenedor del carrusel */
}

.carousel-item img {
  width: 100%; /* Asegura que la imagen ocupa todo el ancho del contenedor */
  height: 100%; /* Asegura que la imagen ocupa toda la altura del contenedor */
  object-fit: cover; /* Cubre el contenedor manteniendo la proporción, puede cortar parte de la imagen si es necesario */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejor visibilidad */
}

.carousel-indicators li {
  background-color: #000; /* Color de los indicadores */
}

.carousel-indicators .active {
  background-color: #fff; /* Color del indicador activo */
}



.frases {
    text-align: center;
}

.frases p {
    font-size: 20px;
    margin-top: 30px;
    padding: 20px;
    color: #59009A;
}

.arrow {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.cuadro {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  width: 250px;
  height: 250px;
  margin: 75px 0px 75px 0px;
}

.cuadro img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.cuadro h3 {
    margin-top: 5px;
    color: #59009A;
}

.cuadro:hover {
    transform: scale(1.2);
}

/* segunda seccion */

.flecha {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #59009A;
  padding: 1px;
  border-radius: 50%;
  opacity: 0.4;
}

.flecha img {
  width: 40px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 98px;
}

.purple-section {
  background-image: url(../Imagenes/ImportanteConsultar.png);
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.purple-section h2 {
  color: #59009A;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.purple-section img {
  color: #fff;
  font-size: 18px;
  text-align: justify;
  max-width: 600px;
}

.white-section {
  background-color: #fff;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(201, 201, 201);
}

.white-section p{
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  margin-left: 80px; 
  margin-right: 40px;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 98px;
}

.purple-section2 {
  background-image: url(../Imagenes/BienestarEmo.png);
  opacity: 100;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.purple-section2 h2 {
  color: #59009A;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.purple-section2 img {
  color: #fff;
  font-size: 18px;
  text-align: justify;
  max-width: 600px;
  
}

.white-section2 {
  background-color: #fff;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(201, 201, 201);
}

.white-section2 p{
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  margin-left: 80px; 
  margin-right: 50px;
}

.img-abajo{
  width: 80%;
  height: 80%;
}