  /* contenido body */
/* 
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
} */

.review-container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 80%; /* ANCHO DE LA PANTALLA */
    max-width: 800px; /* ANCHO MAXIMO */
    text-align: center;
    margin: 40px 0px 100px 170px;
    
}

.review-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.review-box {
    border: 2px solid #dcdde1;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    align-items: center;
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-icon {
    width: 50px; /* TAMAÑO */
    height: 50px; /* TAMAÑO */
    border-radius: 50%;
    background-color: #dcdde1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.user-icon img {
    width: 100%;
    border-radius: 50%;
}

.user-info p {
    margin: 0;
    font-weight: bold;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    border: 2px solid #dcdde1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px; 
    resize: none;
    font-size: 16px;
    width: 100%;
}

button {
    background-color: #6c5ce7;
    color: #fff;
    border: none;
    border-radius: 20px; 
    padding: 5px 15px; /* TAMAÑO */
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    bottom: -35px; 
    left: 50%;
    transform: translateX(-50%);
}

button:hover {
    background-color: #5a4bda;
}
  