* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #59009A;
  font-style: italic;
}



body {
  font-family: sans-serif;
  margin: 0;

  padding: 0;
  background-color: #fffcfc;
  width: 100%;
  left: 0%;
}

.arriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #333;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.logo h1 {
    margin: 0;
}
.user {
    display: flex;
    align-items: center;
    margin: 0px;
}
.user a {
    margin-right: 20px;
    color: #59009A;
    text-decoration: none;
  
    margin-inline-start: auto;
}
.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav {
  color: #59009A;
  position: relative;
  margin-left: 880px;
  
  }
  
  .submenu {
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  top: 24px;
  left: 0px;
  width: auto;
  }
  
  .nav:hover .submenu {
  display: flex;
  }
  
  .submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
  .submenu li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  }
  
  .submenu li:hover {
  background-color: #f0f0f0;
  }

.body {
  padding: 20px;
}

footer {
  background-color: #59009A;
  color: #ffffff;
  padding: 10px;
  text-align: center;

  bottom: 0;
  width: 99%;
}

.footer-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.contact-item {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  text-align: center;
}

.contact-item span {
  margin-bottom: 5px;
}

.iconos {
  display: flex;
  justify-content: center;
}

.iconos a {
  margin: 0 10px;
}

.iconos img {
  width: 24px;
  height: 24px;
}

.quienes-somos {
  align-self: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
}



.sidebar {
  margin-top: 21px;
  width: 350px;
  background-color: #c7b7fe49;
  padding: 20px;
  transition: width 0.0s ease;
  height: 300px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

  /* Modified for smoother transition */
}

.sidebar .menu-item {
  padding: 12px;
  margin: 10px 0;
  background: #fff;
  border-radius: 15px;
  align-items:center;
  transition: background 0.3s ease, transform 0.3s ease;
  cursor: pointer;

}

.sidebar .menu-item.active,
.sidebar .menu-item:hover {
  /* background: #e6e9ec; */
  background: linear-gradient(#ffffff, #9c76c1);
  box-shadow: 1px 5px 10px 0.1px rgb(145, 145, 145);
  transform: scale(1.05);
}

.sidebar .menu-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  
}

.sidebar .menu-item a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  justify-content: center;
}

.sidebar .menu-item span {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
}


/* Contenido del body*/




.container{
display: flex;
justify-content: space-between;
margin-top: 5px;
margin-bottom: 200px;
}




.tarea{
  height: 43px;
  width: 94px;
  background: #59009A;
  color: #ffffff;
  margin-top: 10;
  box-shadow: none;
  margin-top: 10px;
border-radius: 50px;
font-size: 15px;
}
#selec{
  background: linear-gradient(#ffffff,#9C76C1);
  /* boton seleccionado */
}
:root {
--c-theme-primary: #8A66FD;
--c-theme-primary-accent: #CBE8FF;
--c-bg-primary: #D6DAE0;
--c-bg-secondary: #EAEBEC;
--c-bg-tertiary: #FDFDFD;
--c-text-primary: #1F1F25;
--c-text-secondary: #999FA6;
}


button {
font: inherit;
cursor: pointer;
  border: #000;
}


.datepicker {

margin-right: 50px;

border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

padding: 1rem;
}

.datepicker-top {
margin-bottom: 1rem;
}

.btn-group {
display: flex;
flex-wrap: wrap;
margin-bottom: 1rem;
margin-top: -.5rem;
}

.tag {
margin-right: .5rem;
margin-top: .5rem;
border: 0;
background-color: var(--c-bg-secondary);
border-radius: 10px;
padding: .5em .75em;
font-weight: 600;
}

.month-selector {
display: flex;
justify-content: space-between;
align-items: center;
}



.month-name {
font-size: 24px;
  font-weight: bold;
}

.datepicker-calendar {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-row-gap: rem;
}

.day, .date {
justify-self: center;
}

.day {
font-size: 14px;
  font-weight: bold;
justify-self: center;
}

.date {
border: 0;
padding: 0;
  height: 60px;
  width: 60px;
  font-size: 14px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 6px;
border: 0.5px solid #D5D4DF;
background-color: transparent;
cursor: pointer;
&:focus {
  outline: 0;
  background: #D5D4DF;	
}	
  border-radius: 0%;
}
.date:hover{
  background: #e0e4e9;
}

.faded {
color: var(--c-text-secondary);
}

.current-day {
color: #FFF;
border-color: var(--c-theme-primary);
background-color: var(--c-theme-primary);
&:focus {
  background-color: var(--c-theme-primary-accent);
}
}


.cal{
display: flex;
margin-right: 100px;
margin-top: 30px;
}


.historial{
display: flex;
flex-direction: column;
margin-top: 70px;
align-items: center;
}
.realizado{
width: 312px;
height: 54;
margin-top: 50px;
background: #ffffff;
border-bottom: #1F1F25;
border-bottom: solid 1px #D5D4DF;
font-size: 15px;
}

h2{
font-size: 20px;
}
.ejercicio{
height: 100%;
}
header{
  margin-bottom: 130px;
}


html, body {
  margin: 0; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina relleno por defecto */
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal; /* Esto asegura que no esté en cursiva */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegúrate de que el cuerpo tenga al menos el 100% de la altura de la ventana */
}

.navbar {
  background-color: #fff;
  
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #ddd;
  width: 98%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.dropdown-menu {
  display: none;
  background-color: #fff;
  position: fixed;
  top: 5rem;
  right: 1.25rem;
  width: 12.5rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  z-index: 1000;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 0.9375rem 1.25rem;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: #59009A;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: #59009A;
}

.nav-items {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 4.0625rem;
  height: 3.75rem;
  margin: 0rem 1.5625rem 0rem 0.625rem;
}

.logo span {
  font-family: 'Roboto', sans-serif;
  color: #59009A;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: bold;
}

.navbar span {
  color: #59009A;
  margin-right: 1.25rem;
}

.servicios {
  position: relative;
  margin-left: auto;
  font-size: 1.0625rem;
  text-align: center;
  cursor: pointer;
}

.submenu {
  position: absolute;
  background-color: #fff;
  padding: 0.625rem 0;
  border-radius: 0.3125rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.servicios:hover .submenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  padding: 0.9375rem 1.875rem;
  border-bottom: 0.0625rem solid #ddd;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.0625rem;
}

.imagen-usuario {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.body {
  padding: 5rem 1.25rem 1.25rem 1.25rem;
  flex: 1;
}

/* Agregar estilos para el footer */
.footer-container {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0; /* Asegúrate de que no haya margen que cause espacios en blanco */
}

.contact-item {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  text-align: center;
  max-width: 500px;
}

.contact-item span {
  margin-bottom: 5px;
}

.iconos {
  display: flex;
  justify-content: center;
}

.iconos a {
  margin: 0 10px;
}

.iconos img {
  width: 24px;
  height: 24px;
}

.quienes-somos {
  align-self: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
}

footer {
  background-color: #59009A;
  color: #ffffff;
  padding: 1em;
  text-align: center;
  margin-top: auto; /* Esto asegura que el footer esté al final */
  position: relative; /* Para que no haya problemas con el posicionamiento */
}

main {
  padding: 1.25rem;
  margin-top: 1.5rem;
}

.comments-section {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  max-width: 75rem;
  margin: 0 auto;
}

.comment-card {
  flex: 1 1 calc(33.333% - 2.5rem);
  max-width: calc(33.333% - 2.5rem);
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.comment-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.comment {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  border: none;
}

.comment img {
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.comment-info {
  flex-grow: 1;
}

.comment-info h3 {
  margin: 0;
  font-size: 1.125rem;
  color: #6200ea;
}

.comment-info .stars {
  margin: 0.3125rem 0;
  font-size: 1.125rem;
  color: #f39c12;
}

.comment-info .comment-text {
  display: none;
  margin: 0.3125rem 0 0 0;
  font-size: 1rem;
  color: #333;
}

.comment-card:hover .comment-info .comment-text {
  display: block;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .logo span {
    font-size: 1.5rem;
  }

  .submenu ul li {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .servicios, .user-info {
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-left: auto; /* Ajusta este valor para moverlo más a la izquierda */
    margin-right: 10px; /* Ajusta este valor negativo para moverlo a la izquierda */
    font-size: 2rem;
    color: #59009A;
  }

  .menu-open .dropdown-menu {
    display: block;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .contactanos,
  .canales-atencion,
  .social-media {
    margin-bottom: 10px;
  }

  .imagenes-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .logo span {
    font-size: 1.2rem;
  }

  .user-info {
    font-size: 14px;
  }

  .servicios {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .grid-item {
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  /* Ocultar texto en el footer */
  .footer-container span {
    display: none; /* Oculta el texto */
  }
  
  /* Asegurarte de que los iconos se muestren */
  .iconos {
    display: flex;
    justify-content: center; /* Centra los iconos */
  }

  .iconos a {
    margin: 0 10px; /* Ajusta el margen entre iconos */
  }
}



@media (max-width: 768px) {
  .sidebar{
    width: 100%;
  }
  .container {
    flex-direction: column; /* Cambia la dirección a columna para apilar los elementos verticalmente */
    align-items: flex-start; /* Alinea los elementos al principio (izquierda) */
    gap: 10px; /* Ajusta el espacio entre los elementos para pantallas más pequeñas */
  }

  /* Ajustes adicionales para el contenido dentro del container */
  .cal, .datepicker, .historial {
    width: 100%; /* Asegura que los elementos ocupen el 100% del ancho del contenedor */
    margin-right: 0;
  }
  .cal{
    flex-direction: column;
  }
}
.navbar{
  width: 100%;
}