* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    color: #333;
}

main {
    max-width: 800px;
    margin: auto;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.2s;
}

section:hover {
    transform: scale(1.02);
}

h2 {
    color: black;
}

h3 {
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

li:last-child {
    border-bottom: none;
}

.add-goal {
    
    text-align: center; /* Centra el contenido de la sección */
}

.nuevaMeta {
    
    display: inline-block; /* Permite centrar el contenedor */
}

.add-button {
    text-decoration: none;
    background-color: #59009A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block; /* Cambia el botón a bloque */
    margin: 20px auto; /* Centra el botón */
}

.add-button:hover {
    background-color: #be5cb6;
}

strong {
    color: #000;
}

em {
    color: #777;
}
