/* Header */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 210px;
  height: 110px;
  border-radius: 50px;
}

.app-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 3px;
  color: #59009A;
  text-decoration: none; /* Elimina el subrayado */
}

/* Ajuste de navegación */
.nav-links {
  display: flex;
  gap: 90px;
  justify-content:center; /* Alinea todo hacia la izquierda */
  flex-grow: 1; /* Permite que el menú ocupe el espacio disponible */
  margin-left: 100px;
  
}
/* Sección derecha */
.nav-right {
  display: flex; /* Usa flexbox para los elementos a la derecha */
  gap: 40px; /* Espacio entre los elementos a la derecha */
  margin-right: 40px;
  color: #000000c2;
  
}

.nav-item {
  text-decoration: none;
  color: #59009A;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease; /* Transición de color */
  font-weight: bold; 
}
.special-item {
  color: #494949; /* Cambia a tu color deseado */
  transition: color 0.3s ease; /* Añade transición suave al color */
  font-size:13px;
}

.special-item:hover {
  color: #59009A; /* Cambia a otro color al pasar el mouse */
}
.nav-item:hover {
  color: #5a009ac2; /* Cambia a azul cuando se pasa el mouse */
}

/* Estilos para el contenedor del perfil */
.profile-container {
  position: relative;
}

.profile-box {
  background: #f9f9f9; /* Color de fondo de la cajita */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.244); /* Sombra para el efecto de cajita */
  display: flex; /* Usar flexbox para alinear los elementos dentro */
  align-items: center; /* Alinea los elementos en la parte superior */
}

/* Ajusta la posición de Jhon Sebastian */
.profile-name {
  margin-bottom: 5px; /* Espacio entre el nombre y la imagen */
  font-size: 13px;
  margin-right: 30px;
  color: #5a009ac2;
}

a{
  text-decoration: none;
}

/* Estilos para la imagen del perfil */
.profile-pic {
  width: 45px; /* Ajusta según el tamaño deseado */
  height: 45px; /* Ajusta según el tamaño deseado */
  border-radius: 50%; /* Hacer la imagen redonda */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

/* Menú de perfil */
.profile-menu {
  display: none; /* Inicialmente oculto */
  position: absolute; /* Para que se posicione sobre la cajita */
  right: 0; /* Alinea a la derecha */
  top: 70px; /* Ajusta la posición */
  width: 150px; /* Ancho del menú */
  background: white; /* Color de fondo del menú */
  border: 1px solid #ddd; /* Borde del menú */
  border-radius: 8px; /* Bordes redondeados del menú */
  padding: 10px; /* Espaciado interno */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el menú */
  z-index: 1000; /* Para que se muestre encima de otros elementos */
}

.profile-menu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #59009A;
  transition: color 0.3s ease; /* Transición en los links */
}

.profile-menu a:hover {
  color: #5a009ac2;
}

/* Pestaña de módulos */
.modules-overlay {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.module-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.modulo {
  background: #ffffff;
  padding: 20px;
  text-align:left;
  margin-left: 20px;
  border-radius: 6px;
  color: #5a009ac2;
  font-size: 14px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.modulo:hover {
  background-color: #ffffff; /* Cambia el color al pasar el mouse */
  transform: scale(1.05); /* Efecto de zoom */
}
.module {
  background: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  color: #59009A;
  font-size: 14px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.module:hover {
  background-color: #ffffff; /* Cambia el color al pasar el mouse */
  transform: scale(1.05); /* Efecto de zoom */
}


/* Estilos generales del menú hamburguesa */
.hamburger {
  display: none; /* Oculto por defecto */
  background: none;
  border: none;
  font-size: 30px; /* Tamaño del icono */
  color: #59009A;
  cursor: pointer;
}

/* Menú hamburguesa */
.hamburger-menu {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100px; /* Alinea debajo del header */
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.hamburger-item {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #59009A;
  transition: color 0.3s ease;
}

.hamburger-item:hover {
  color: #5a009ac2; /* Cambia el color al pasar el mouse */
}



/* contenido body */
body::before,
body::after {
  content: '';
  position: absolute;
  background-color: #59009A;
  border-radius: 50%;
  filter: blur(6.25rem);
  /* 100px */
  opacity: 0.7;

  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura */
    background-image: url('/atencion-profesional/PROFESIONAL/Imagenes/Entorno-Profesional.jpg'); /* Cambia por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center top; /* Centra la imagen y la desplaza hacia arriba */
    background-attachment: fixed; /* Hace que la imagen sea fija al hacer scroll */
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo blanco con transparencia */
    background-blend-mode: overlay; /* Mezcla el color con la imagen */
  
}

body::before {
  width: 18.75rem;
  /* 300px */
  height: 18.75rem;
  /* 300px */
  top: 20%;
  left: 15%;
  animation: move 10s infinite alternate;
}

body::after {
  width: 12.5rem;
  /* 200px */
  height: 12.5rem;
  /* 200px */
  bottom: 20%;
  right: 15%;
  animation: move 8s infinite alternate-reverse;
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(3.125rem, 3.125rem) scale(1);
  }
}

.container {
  position: relative;
  z-index: 1;
}

main {
  position: relative;
  z-index: 1;

}

.footer {
  position: relative;
  z-index: 1;
}

.body {
  padding: 1.25rem;
  /* 20px */
}

.text h1 {
  margin: 0;
  color: #59009A;
  font-size: 1.75rem;
  /* Tamaño más pequeño para pantallas móviles */
}

.text p {
  margin: 0;
  color: #999;
  font-size: 1rem;
  /* Texto un poco más grande */
}

main {
  padding: 2rem;
  /* Reducimos el padding en pantallas pequeñas */
  background-color: #fff;
 
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Cambiar según sea necesario */
  gap: 2rem;
  /* Aumentar el gap para mayor separación */
}

.grid-item {
  color: #59009A;
  width: calc(100% - 2rem);
  /* Restar el margen del ancho */
  height: auto;
  margin: 1rem;
  /* Ajusta este valor para mayor o menor separación */
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  /* 8px */
  position: relative;
  border: 0.125rem solid #59009A;
  /* 2px */
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
  gap: 10px;
}

.grid-item::before {
  content: '';
  position: absolute;
  top: -1.25rem;
  /* -20px */
  left: -1.25rem;
  /* -20px */
  width: 6.25rem;
  /* 100px */
  height: 6.25rem;
  /* 100px */
  background-color: #59009A;
  border-radius: 50%;
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover::before {
  transform: scale(1.5);
}

.grid-item:hover {
  transform: scale(1.1);
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

.grid-item.archivos {
  background-image: url('../Imagenes/WhatsApp.png');
}

.grid-item.informes {
  background-image: url('Informes.png');
}

.grid-item.resenas {
  background-image: url('Reseñas.png');
}

.grid-item.historial {
  background-image: url('Historial.png');
}

.grid-item.proximamente1 {
  background-image: url('Proximamente.png');
}

.grid-item.proximamente2 {
  background-image: url('Proximamente.png');
}



/* Footer */

/* Elimina márgenes y padding de todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita desplazamiento horizontal si algún elemento desborda */
}

.footer {
  background-color: #59009A;
  color: #a7a7a7;
  padding: 50px 20px; /* Añadido padding lateral para dispositivos pequeños */
  width: 100%;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  border-bottom: 1px solid #333;
  width: 100%;
}

.footer-column h4 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #a7a7a7;
  text-decoration: none;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: #ffffff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.footer-bottom p {
  color: #a7a7a7;
  font-size: 12px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #a7a7a7;
  font-size: 18px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ffffff;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    padding: 0.625rem;
    /* 10px */
  }


  main {
    padding: 4.375rem;
    /* 70px */
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    /* Mayor separación para pantallas más pequeñas */
  }

  .grid-item {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    height: auto;
    /* Ajusta la altura automáticamente */
    font-size: 1.1em;
    /* Reduce un poco el tamaño de la fuente */
  }

  .text h1 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 0.875rem;
  }

  .ball {
    width: 40px; /* Reduce el tamaño de las bolas en pantallas pequeñas */
    height: 40px;
  }


}

/* Estilos para pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    padding: 1.25rem;
    /* 20px */
  }

  main {
    padding: 6.25rem;
    /* 100px */
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* Mantener el gap entre los elementos */
  }

  .grid-item {
    height: auto;
    /* Ajusta la altura automáticamente */
    font-size: 1.15em;
    /* Un poco más grande que en pantallas pequeñas */
  }

}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
  main {
    padding: 8.75rem;
    /* 140px */
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas en pantallas grandes */
  }

  .grid-item {
    height: 12.5rem;
    /* 200px */
  }
}



/* Media Queries para Responsividad */
@media (max-width: 800px) {
  .nav-links {
      display: none; /* Oculta el menú en pantallas pequeñas */
  }

  .hamburger {
      display: block; /* Muestra el botón hamburguesa */
  }

  .hamburger-menu {
      display: none; /* Oculto por defecto */
  }

  .hamburger-menu.active {
      display: block; /* Muestra el menú cuando está activo */
  }
  

  .profile-container {
      display: none; /* Oculta el perfil en pantallas pequeñas */
  }
  .nav-right{
      display: none;
  }

  /* Reajusta el título */
  .app-title {
      margin-left: auto; /* Alinea el título a la izquierda */
      margin-right: auto; /* Alinea el título a la derecha */
  }
  .module-grid{
      display: none;
  }
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-column {
    margin-bottom: 20px;
    width: 100%; /* Cada columna ocupa el 100% en dispositivos pequeños */
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Asegura que ocupe todo el ancho */
  }

  .social-icons {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px; /* Reducir padding en dispositivos pequeños */
  }

  .footer-column h4 {
    font-size: 14px;
  }

  .footer-column ul li a {
    font-size: 12px;
  }

  .footer-bottom {
    align-items: flex-start;
    width: 100%; /* Asegura que ocupe todo el ancho */
  }

  .social-icons {
    margin-left: 0;
  }
}
