/* header */
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.0625rem solid #ddd;
}

header span{
  cursor: pointer;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 10px 0px 10px;

}

.servicios {
  position: relative; /* Esto asegura que el submenu se posicione relativo a este contenedor */
}


.servicios span{
  color: #59009A; 
}

.service-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 1.0625rem; 
}


.menu-icon{
  display: none;
}


.logo span{
  color: #59009A;
  font-size: 1.5rem; 
}

.logo img,
.user-info img {
  width: 60px;
  height: auto;
  object-fit: cover;
  display: flex;

}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.user-info span{
  color: #59009A;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
}

.submenu {
  display: none ;  /* El menú estará oculto por defecto */
  position: absolute;
  background-color: white;
  top: 100%;  /* Asegura que el menú aparezca justo debajo del botón de servicios */
  left: 0;
  width: 150px;  /* Ajusta el tamaño del submenu */
  z-index: 1000;  /* Asegura que el menú esté por encima de otros elementos */
}

.submenu.active {
  display: block;  /* Mostramos el menú cuando tenga la clase 'active' */
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li a{
  color: #59009A;
}

.submenu li{
  border: 1px solid #ccc;
  padding: 7px;
}

.submenu li:last-child{
  border-radius: 0 0 10px 10px;
}

.submenu a {
  text-decoration: none;
  color: black;
}

.servicios:hover span{
  text-decoration: underline;
  cursor: pointer;

}

.servicios:hover span{
  text-decoration: underline;
  cursor: pointer;

}

.logo:hover span {
  text-decoration: underline;

}

.user-info:hover span{
  text-decoration: underline;
}

/* Footer */
footer div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #59009A;
}

.contact-item{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.footer-container{
  padding: 10px;
}
.items{
  gap: 30px;
}
.quienes-somos{
  display: flex;
  align-items: center;
  
  color: white;
}

.main{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.iconos img{
  display: flex;
  width: 35px;
}

.items .contact-item, .span{  /* con ',' toma todos los span dentro */
  color: white;
}

/* Media de pantallas menores a 400px en header*/
@media (max-width:480px) {

  header {
    height: 100px;
  }

  .submenu{
    margin-left: -90px;
    margin-top: 1px;
    border-radius: 20px 0 0 20px;
  }

  .submenu li:last-child{
    border-radius: 0 0 0 10px;
  }

  .submenu li:first-child{
    border-radius: 10px 0 0 0;
  }

  .service-user {
    flex-direction: row-reverse;
  }

  .servicios span {
    display: none;
  }

  .menu-icon {
    display: flex;
    color: #59009A;
    cursor: pointer;
  }

  .menu-icon .material-icons{
    font-size: 50px;
    font-family: 'Material Icons';
    font-style: normal;
  }

  .user-info {
    display: none;
  }

  .logo {
    display: flex;
    flex-direction: row;
  }

  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-item span{
    display: none;
  }
  
  .items{
    gap: 10px;
  }
  
  .iconos .icono{
    width: 30px;
    height: 30px;
  }

  .footer-container{
    gap: 10px;
  }
  
  
}

  /* @media (max-width:500px){
    .iconos .icono{
      width: 30px;
      height: 30px;
    }

    .items {
      font-size: 0.8rem;
    }
  } */
