
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 160px;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    left: 10%;
    right: 10%;
}

.btn-view{
    text-decoration: none;
}

.post p {
    margin: 0;
}
.post .details {
    display: flex;
    align-items: center;
}
.post .details i {
    margin-right: 10px;
}
.post .btn-view {
    background-color: #59009A;
    color: white;
    border: none;
    padding: 8px 10px 5px 10px; 
    cursor: pointer;
    border-radius: 3px;
}
.view-button:hover{
    transform:scale(1.1);
    transition: 300ms;
}