body{
    margin-bottom: 80px;
}

.section {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    /* background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
}
.section h3 {
    font-size: 18px;
    color: white;
    background-color: #59009A;
    padding: 5px 10px;
    /* font-size: 18px;
    margin: 0 0 10px 0;
    color: white;
    background-color: #59009A;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0; */
}

canvas {
    border: 1px solid #be5cb6;
    width: 100% !important;
    max-width: 600px;
    height: 400px !important; /* Añadimos un alto para asegurar visibilidad */
    margin: 0 auto;
    display: block;
}


.section table {
    width: 100%;
    border-collapse: collapse;
}
.section table, .section th, .section td {
    border: 1px solid #ddd;
}
.section th, .section td {
    padding: 8px;
    text-align: left;
}

.columna {
    width: 50%;
  }
  
 