h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #59009A;
  font-style: italic;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }  
h2{
  font-size: 2em;
  margin-bottom: 10px;
  text-align:center;
  }
button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px; /* Añadir bordes redondeados al botón */
  cursor: pointer;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #59009A;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
.bloque {
  width: 235px; /* Ajustar el ancho de los bloques */
  height: 183px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  text-align: center;
  border: 3px solid #ccc;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Añadir una sombra */
  overflow: hidden;
  border-radius: 7px;
  }
.bloque img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 5px; /* Añadir bordes redondeados a las imágenes */
  display: block;
  }
.bloque p {
  font-size: 16px;
  margin-bottom: 0; /* Eliminar el margen inferior */
  }
/* Responsividad */
@media (max-width: 768px) {
  .bloque {
    flex: 1 1 calc(50% - 20px); /* 2 bloques en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .bloque {
    flex: 1 1 calc(100% - 20px); /* 1 bloque en pantallas pequeñas */
  }

  .search-bar input[type="text"] {
    width: 100%; /* Barras de búsqueda en pantallas pequeñas */
  }
}


  
