body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffcfc;
}

main{
  display: flex;
  flex-direction: row;
  margin: 10px;
  overflow-y: auto;
  height: calc(100vh - 180px);
  box-sizing: border-box;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 180px); /* Ajusta según la altura de tu header y footer */
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 10%; /* Ajusta el ancho según tus necesidades */
}

.sidebar .options,
.sidebar .icons {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  width: 80%; /* Ajusta el ancho según tus necesidades */
}

.sidebar .options {
  position: relative;
}

.sidebar .options .Opciones {
  background: none;
  border: none;
  font-size: clamp(10px, 1.5vw, 18px); /* Tamaño mínimo 12px, ajustable a 1.5% del ancho del viewport, y máximo 18px */
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.sidebar .options-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: row;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: -1px; /* Ajuste para alinear el borde superior del menú con el botón */
}

.sidebar .options:hover .options-menu {
  display: flex;
}

.sidebar .options-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.sidebar .options-menu li {
  padding: 10px;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.sidebar .options-menu li:hover {
  background-color: #f0f0f0;
}

/* iconos */
.icons{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icons i{
  font-size: 20px;
}

.icons i:hover{
  transform: scale(1.3);
}

/* contenedor */
.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 90%;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
}

.contenedor .dibujo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modales */
/* Modal específico */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  max-width: 800px;
  margin: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.card {
  border-radius: 8px;
  width: 80%;
  height: 80%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-titulo h1 {
  font-size: 20px;
  margin: 0;
}

.card-header span{
  cursor: pointer;
}

.dibujo-compartir{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.card-contenido{
  border:1px solid black;
  border-radius: 10px;
  height: max-content;
}

.card-contenido .contenido{
  width:  100%;
  height: 100%;
}

.card img {
  width: 50px;
  height: 50px;
}

.card .contenido img {
  width: 100%;
  height: 100%;
}

.card-social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-social a img {
  width: 80%;
  height: 80%;
  margin-right: 10px;
}

.card-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  max-height: 1000px;
  width: 80%;
  margin: auto;
  gap: 10px;
}

.form-group-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

.form-group-img .contenido{
  width: 100%;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group input{
  width: 70%;
  max-width: 180px;
  min-width: 100px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
}

.form-group textarea{
  text-align: center;
  border-radius: 5px;
  width: 100%;
  min-height: 30px;
  max-width: 300px;
  max-height: 50px;
}

.enviar{
  width: 100px;
  height: 9%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enviar button{
  width: 150px;
  height: 100%;
  background-color: #C8B6FE;
  border: none;
  border-radius: 10px;
}