body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffcfc;
  width: 100%;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
  flex-direction: column; /* Adaptación para mobile */
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%; /* Ajustar el ancho al 90% del contenedor */
  margin-bottom: 10px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #59009A;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%; /* Ajustar el botón al 50% del contenedor */
}

.container {
  max-width: 100%; /* Ajuste para pantalla completa */
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bloque {
  width: 100%; /* Cada bloque ocupa el 100% del ancho en mobile */
  height: auto; /* Altura automática para mantener proporciones */
  margin: 10px 0;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  overflow: hidden;
  border-radius: 7px;
}

.bloque img {
  width: 100%;
  height: auto; /* Mantener la proporción de la imagen */
  margin-bottom: 10px;
  border-radius: 5px;
}

.bloque p {
  font-size: 14px;
  margin-bottom: 0;
}

@media (min-width: 400px) {
  .bloque {
    width: calc(50% - 20px); /* A partir de 400px, cada bloque ocupa el 50% */
    margin: 10px;
  }

  .search-bar input[type="text"] {
    width: 70%; /* Ancho más reducido en pantallas más grandes */
  }

  .search-bar button {
    width: 30%; /* Ajuste del botón en pantallas más grandes */
  }
}
