body {
  font-family: sans-serif;
  background-color: #fffcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

.buscar{
  padding-top: 20px;
}

.search-bar {
  display: flex;
  flex-direction: column; /* Adaptación para mobile */
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%; /* Ajustar el ancho al 90% del contenedor */
  margin-bottom: 10px;
}

.search-bar button {
  min-width: 64px;
  padding: 10px;
  background-color: #59009A;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%; /* Ajustar el botón al 50% del contenedor */
}

/* container */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.bloque {
  max-width: 250px;
  max-height: 300px; /* Altura automática para mantener proporciones */
  margin: 10px 10px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  overflow: hidden;
  border-radius: 7px;
  transition: transform 0.75s ease;
  transform-origin: center;
}

.bloque img {
  width: 100%;
  height: auto; /* Mantener la proporción de la imagen */
  margin-bottom: 10px;
  border-radius: 5px;
}

.bloque:hover{
  transform: scale(1.1);
}

.bloque p {
  font-size: 14px;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .bloque {
    width: calc(40% - 20px); /* A partir de 400px, cada bloque ocupa el 50% */
    margin: 10px;
  }

  .search-bar input[type="text"] {
    width: 70%; /* Ancho más reducido en pantallas más grandes */
  }

  .search-bar button {
    width: 30%; /* Ajuste del botón en pantallas más grandes */
  }
}
