
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #59009A;
  font-style: italic;
}



body {
  font-family: sans-serif;
  margin: 0;
  position: absolute;
  padding: 0;
  background-color: #fffcfc;
  width: 100%;
  left: 0%;
}

/* Estilos del contenedor principal */
.container {
  flex: 1; /* Para empujar el footer hacia abajo */
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  text-align: center;
  margin: 10px;
}
.center {
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* Estilos de los bloques */
.bloque {
  width: 280px; /* Ajustar el ancho de los bloques */
  height: 200px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  text-align: center;
  border: 3px solid #ccc;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 7px;
}
.bloque:hover{
  transform: scale(1.1);
}
.bloque img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 5px; /* Bordes redondeados para las imágenes */
  display: block;
}

.bloque p {
  font-size: 16px;
  margin-bottom: 0; /* Eliminar el margen inferior */
  font-weight: bold;
}
p{
  font-weight: bold;
 } 

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px; /* Bordes redondeados al botón */
  cursor: pointer;
}

 /* Responsividad */
 @media (max-width: 768px) {
  .bloque {
    flex: 1 1 calc(50% - 20px); /* 2 bloques en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .bloque {
    flex: 1 1 calc(100% - 20px); /* 1 bloque en pantallas pequeñas */
  }

  .search-bar input[type="text"] {
    width: 100%; /* Barras de búsqueda en pantallas pequeñas */
  }
}

html, body {
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina relleno por defecto */
    height: 100%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-style: normal; /* Esto asegura que no esté en cursiva */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegúrate de que el cuerpo tenga al menos el 100% de la altura de la ventana */
  }