
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #59009A;
  font-style: italic;
}



body {
  font-family: sans-serif;
  margin: 0;
  position: absolute;
  padding: 0;
  background-color: #fffcfc;
  width: 100%;
  left: 0%;
}


/* Estilos del contenedor principal */
.container {
  flex: 1; /* Para empujar el footer hacia abajo */
  max-width: 1000px;
  height: calc(100vh - 280px);
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main{
  display: flex;
  flex-direction: column;
}
.item {
  text-align: center;
  margin: 10px;
}
.center {
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* Estilos de los bloques */
.bloque {
  width: 280px; /* Ajustar el ancho de los bloques */
  height: 200px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  text-align: center;
  border: 3px solid #ccc;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 7px;
}

.bloque img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 5px; /* Bordes redondeados para las imágenes */
  display: block;
}

.bloque p {
  font-size: 16px;
  margin-bottom: 0; /* Eliminar el margen inferior */
  font-weight: bold;
}
p{
  font-weight: bold;
 } 

/* Estilos del botón */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px; /* Bordes redondeados al botón */
  cursor: pointer;
}

